NEXT_PUBLIC_SUPABASE_URL=seu_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_supabase_anon_key
PINATA_JWT=seu_token_jwt_da_pinata
NEXT_PUBLIC_CONTRACT_ADDRESS=endereco_do_contrato_na_sepolia
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/sua_chave_ou_rpc_publico
